.reveal .slides {
  text-align: left;

  img {
    background: none;
    border: none;
    box-shadow: none;
    display: inherit;
    margin: 0;
  }

  ul {
    margin: 0;

    li {
      padding-left: 0.5em;
    }
  }

  ol {
    margin: 0;

    li  {
      list-style-position: outside;
    }
  }
}
