/*
Include in this file any layouts that are used heavily throughout the site
*/

/********************
/ Base Styles
/*******************/

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: $font-color--base;
  font-size: 16px;
  font-weight: $font-weight--thick;
  line-height: 1.8;
}

/********************
/ Default Element Styles
/*******************/

img,
video,
iframe {
  height: auto;
  max-width: 100%;
}

p, li {
  img {
    vertical-align: middle;
  }
}

ul {
  padding: 0;

  &.no-margin {
    li {
      margin: 0;
    }
  }

  li {
    list-style: none;
    padding-left: 1em;
    position: relative;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent $black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  a {
    color: $black;
    font-size: 2rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

ol {
  li {
    list-style-position: inside;
  }
}

li {
  margin-bottom: 0.5rem;
}
